
.wrapper{
   width: 100%;
   height: 100%;
}
.box{
    width: 100%;
    height: 750px;
    border: 2px solid black;
    border-radius: 2%;
    background-color: transparent;
    text-align: center;

}
.button{
margin: 500px;
border: 2px solid black;
border-radius: 5px;
}
 
.rgb{
    margin:auto;
    text-decoration: double;
}
